@import '../shared/utils/styling/colors';

.userProds {
  width: 1250px;
  margin: 0 auto;

  &-section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 6.5px;

    &__title {
      font-size: 24px;
      font-weight: normal;
      width: 100%;
      color: $blue;
      margin: 23.5px 0 8.5px 6.5px;
    }
  }
}
