@import '../shared/utils/styling/colors';
@import '../shared/utils/styling/mixins';

.reg {
  &-error {
    color: $red;
    font-size: 13px;
    font-style: italic;
    margin-top: 10px;
  }

  &-button {
    @include flex-center;
    background-color: $grey;
    color: black;
    border: 2px solid $blue;
    height: 38px;
    width: 160px;
    margin: 20px 0 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.25s;

    &:hover {
      transform: scaleX(1.1);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.75;
    }
  }
}
