@import '../shared/utils/styling/colors';
@import '../shared/utils/styling/mixins';

.register {
  &-error {
    color: $red;
    font-size: 13px;
    font-style: italic;
    margin-top: 10px;
  }

  &-button {
    @include grey-button;
  }
}
