@import '../utils/styling/colors';
@import '../utils/styling/mixins';

.auth {
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $orange;
    margin: 30px auto 0;
    width: 420px;
    padding: 10px 0;
    border: 3px solid $blue;
    border-radius: 20px;
  }

  &-label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 300px;

    &__text {
      font-size: 14px;
      color: $blue;
      margin-bottom: 10px;
    }

    &__input {
      height: 38px;
      width: 100%;
      border: 2px solid $blue;
      padding: 0 15px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
